div {
  display: block;
}

body {
  margin: 0;
  padding: 0;
}

nav {
  height: 80px;
  margin: 0;
  padding: 0;
  justify-content: right;
  align-items: center;
  display: flex;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin: 0px 30px;
}

.background {
 background-color: papayawhip;
}


.productpicture {
  width: 500px;
  height: 400px;
  display: inline-flexbox;

}

.p {
  max-width: 900px;
  min-width: 200px;
}

.content {
  padding-top: 25%;
  padding-left: 50px;
  padding-bottom: 5%;
  padding-right: 60%;
  min-width: 200px;
}



* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  border: 1px solid red;

  
}



  /*border: 1px solid red;
}

